<div class="title">
    <h1>CRIANDO NOVO LIVRO</h1>
</div>
<form action="">
    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput  type="text" name="titulo" placeholder="Ex: Ciência da computação" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do autor</mat-label>
        <input matInput  type="text" name="nome_autor" placeholder="Ex: Pacatovisk Viana" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput  type="text" name="texto" placeholder="Ex: Nos dias atuais"  maxlength="2000000"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button  class="mat-elevation-z8 criar"  mat-stroked-button color="accent">CRIAR</button>
        <button  class="mat-elevation-z8"  mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>

