.title {
    text-align: left;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem
}

.title h1 {
    font-size: 2rem;
    color: rgba(207, 186, 186, 0.979);
}

form {
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}

.form {
    width: 100%;
}


.buttons {
    width: 100%;
    text-align: start;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

button.mat-accent.criar {
    color: #0f8a4e;
}

