.home {
    width: 95%;
    margin: 1rem auto;
}

mat-grid-list {
    background-color: rgba(41, 139, 24, 0.945);
}

mat-grid-tile {
    background: lightblue;
  }

@media(max-width:450px){
    .home {
        width: 70%;
    }
}